<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/checklist_page2.css') }}">
    <title>Paralegal result</title> 
</head>
<body>
    <header>
        <h1>Paralegal</h1>
    </header>

    <div class="buttons-container">
        <n style="color: rgb(55, 118, 244);">preview result</n>
        <div><hr></div>
        <div>
            <table class="question-table">
                <tr>
                    <td style="width: 40%;">
                        <p>題目分類</p>
                        <p>一、消費法規之遵循</p>
                        <p>二、行銷廣告 </p>
                        <p>三、商品申請書、定型化契約之訂定</p>
                        <p>四、消費爭議之處理 </p>
                        <p>五、著作人格權及智慧財產權合法取得</p>
                        <p>六、法令覆核 </p>
                        <p>七、信用卡業務行銷廣告</p>
                        <p>八、授信業務行銷廣</p>
                        <p>九、信託業務行銷廣告</p>
                        <p>十、廣告活動贈品或贈獎額度</p>
                    </td>
                    <td style="text-align: center;">
                        <p>檢查題數/總題數</p>
                        <p>                
                            <n>1</n>
                            <n>/</n>
                            <n>2</n>
                        </p>
                        <p>                
                            <n>3</n>
                            <n>/</n>
                            <n>4</n>
                        </p>
                        <p>                
                            <n>0</n>
                            <n>/</n>
                            <n>2</n>
                        </p>
                        <p>                
                            <n>0</n>
                            <n>/</n>
                            <n>2</n>
                        </p>
                        <p>                
                            <n>0</n>
                            <n>/</n>
                            <n>1</n>
                        </p>
                        <p>                
                            <n>1</n>
                            <n>/</n>
                            <n>1</n>
                        </p>
                        <p>                
                            <n>1</n>
                            <n>/</n>
                            <n>14</n>
                        </p>
                        <p>                
                            <n>1</n>
                            <n>/</n>
                            <n>6</n>
                        </p>
                        <p>                
                            <n>17</n>
                            <n>/</n>
                            <n>23</n>
                        </p>
                        <p>                
                            <n>0</n>
                            <n>/</n>
                            <n>1</n>
                        </p>
                    </td>
                    <td style="text-align: center;">
                        <p>未符合</p>
                        <p>                
                            <n id = wrong1>a</n>
                        </p>
                        <p>                
                            <n id = wrong2>a</n>
                        </p>
                        <p>                
                            <n>0</n>
                        </p>
                        <p>                
                            <n>0</n>
                        </p>
                        <p>                
                            <n>0</n>
                        </p>
                        <p>                
                            <n id = wrong3>a</n>
                        </p>
                        <p>                
                            <n>0</n>
                        </p>
                        <p>                
                            <n>0</n>
                        </p>
                        <p>                
                            <n id = wrong4>a</n>
                        </p>
                        <p>                
                            <n>0</n>
                        </p>
                    </td>
                    <td style="text-align: center;">
                        <p>不適用</p>
                        <p>                
                            <n id = nofit1></n>
                        </p>
                        <p>                
                            <n id = nofit2></n>
                        </p>
                        <p>                
                            <n>0</n>
                        </p>
                        <p>                
                            <n>0</n>
                        </p>
                        <p>                
                            <n>0</n>
                        </p>
                        <p>                
                            <n id = nofit3></n>
                        </p>
                        <p>                
                            <n>0</n>
                        </p>
                        <p>                
                            <n>0</n>
                        </p>
                        <p>                
                            <n id = nofit4></n>
                        </p>
                        <p>                
                            <n>0</n>
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div style="text-align: end; margin-top: 20px;">
            <button type="button" id="detail_btn">查看細節</button>
        </div>
        
    </div>

        
    <script type="text/javascript" src="{{ url_for('static', filename='checklist_page2.js') }}"></script>
    
</body>
</html>